<div class="auth-wrapper">
    <form [formGroup]="registrationForm" (submit)="send()">

        <mat-card class="auth-form">
            <mat-form-field class="auth-field">
                <input required formControlName="userName" matInput placeholder="User name">
                <mat-error>
                    <app-validator-message [field]="registrationForm.get('userName')"></app-validator-message>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="auth-field">
                <input required formControlName="email" type="email" matInput placeholder="Email">
                <mat-error>
                    <app-validator-message [field]="registrationForm.get('email')"></app-validator-message>
                </mat-error>
            </mat-form-field>
            <fieldset formGroupName="password">
                <mat-form-field class="auth-field">
                    <input required formControlName="pwd" type="password" matInput
                           placeholder="Password">
                    <mat-error>
                        <app-validator-message
                                [field]="registrationForm.get('password').get('pwd')"></app-validator-message>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="auth-field">
                    <input required formControlName="confirm" type="password" matInput
                           placeholder="Confirm password">
                    <mat-error>
                        <app-validator-message
                                [field]="registrationForm.get('password').get('confirm')"></app-validator-message>
                    </mat-error>
                </mat-form-field>
                <mat-error>
                    <app-validator-message [field]="registrationForm.get('password')"></app-validator-message>
                </mat-error>
            </fieldset>
            <div class="text-center">
                <button mat-button color="primary">Registration</button>
            </div>
        </mat-card>
    </form>
</div>