<div class="auth-wrapper">
    <form [formGroup]="registrationForm" (submit)="send()">

        <mat-card class="auth-form">
            <mat-form-field class="auth-field">
                <input required formControlName="userName" matInput placeholder="User name">
                <mat-error>
                    <app-validator-message [field]="registrationForm.get('userName')"></app-validator-message>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="auth-field">
                <input required formControlName="email" type="email" matInput placeholder="Email">
                <mat-error
                        *ngIf="(formTouched && registrationForm.controls.email.invalid) || registrationForm.controls.email.touched">
                    <span *ngIf="registrationForm.controls.email.errors && registrationForm.controls.email.errors.required">
                        Name is <strong>required</strong>
                    </span>
                    <span *ngIf="registrationForm.controls.email.errors && registrationForm.controls.email.errors.email">Invalid email address</span>
                </mat-error>
            </mat-form-field>
            <fieldset formGroupName="password">
                <mat-form-field class="auth-field">
                    <input required formControlName="pwd" type="password" matInput
                           placeholder="Password">
                    <!-- <mat-error
                             *ngIf="(formTouched && registrationForm.controls.password.password.invalid) || registrationForm.controls.password.password.touched">
                         <div *ngIf="registrationForm.controls.password.password.errors && registrationForm.controls.password.password.errors.required">
                             Name is <strong>required</strong>
                         </div>
                         <div *ngIf="registrationForm.controls.password.password.errors && registrationForm.controls.password.password.errors.minlength">
                             Required length is <strong>{{registrationForm.controls.password.password.errors.minlength.requiredLength}}</strong>
                         </div>
                     </mat-error>-->
                </mat-form-field>
                <mat-form-field class="auth-field">
                    <input required formControlName="confirm" type="password" matInput
                           placeholder="Confirm password">
                    <!--<mat-error
                            *ngIf="(formTouched && registrationForm.controls.confirmPassword.invalid) || registrationForm.controls.confirmPassword.touched">
                        <div *ngIf="registrationForm.controls.confirmPassword.errors && registrationForm.controls.confirmPassword.errors.required">
                            Name is <strong>required</strong>
                        </div>
                        <div *ngIf="registrationForm.controls.confirmPassword.errors && registrationForm.controls.confirmPassword.errors.minlength">
                            Required length is <strong>{{registrationForm.controls.confirmPassword.errors.minlength.requiredLength}}</strong>
                        </div>
                    </mat-error>-->
                </mat-form-field>
            </fieldset>
            <div class="text-center">
                <button mat-button color="primary">Registration</button>
            </div>
        </mat-card>
    </form>
</div>