.auth-wrapper {
  max-width: 700px;
  margin: 0 auto;

  .auth-form {
    margin-top: 10px;

    .auth-field {
      width: 100%;
    }

    .auth-btn-wrapper {
      text-align: center;
    }
  }
}

.mat-error {
  font-size: 12px;
}