<ng-container *ngIf="messages && messages.length > 0">
    <mat-card *ngFor="let message of messages">
        <mat-card-subtitle class="d-flex justify-content-between">
            <strong class="h6 font-weight-bold">{{message.nickName}}</strong>
            <span>Created at: {{message.created | date: 'short'}}</span>
        </mat-card-subtitle>
        <mat-card-content>{{message.message}}</mat-card-content>
    </mat-card>
</ng-container>
<br>
<mat-card class="p-3">
    <form [formGroup]="messageForm" (submit)="send()">
        <mat-form-field class="new-message">
            <input required matInput placeholder="Enter your message..."
                   formControlName="messageControl">
            <!-- if only input, without form, use: [formControl]="messageControl"-->
        </mat-form-field>
        <div class="text-center">
            <button [disabled]="messageForm.invalid" mat-button color="primary">
                <span class="d-inline-block mr-1">Send</span>
                <i class="material-icons">send</i>
            </button>
        </div>
    </form>
</mat-card>