@import "../../custom-theme.scss";

mat-card {
  margin-top: 10px;
}

.new-message {
  width: 100%;
}

.chat-wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  height: calc(100vh - 64px);
}

.chat-body {
  overflow-y: auto;
}

.message {
  &.active {
    mat-card {
      background: mat-color($accent);
    }
  }
}