<ng-container *ngIf="messages && messages.length > 0">
    <mat-card *ngFor="let message of messages">
        <mat-card-subtitle>{{message.nickName}}</mat-card-subtitle>
        <mat-card-content>{{message.message}}</mat-card-content>
    </mat-card>
</ng-container>
<br>
<mat-card class="p-3">
    <mat-form-field class="new-message">
        <textarea required matInput placeholder="Enter your message..."
                  [formControl]="messageControl"></textarea>
    </mat-form-field>
    <div class="text-center">
        <button (click)="send()" [disabled]="messageControl.invalid" mat-button color="primary">
            <span class="d-inline-block mr-1">Send</span>
            <i class="material-icons">send</i>
        </button>
    </div>
</mat-card>