<mat-toolbar color="primary" class="d-flex justify-content-between align-items-center">
  <h1>
    <a mat-button routerLink="/">Chat on MEAN Stack</a>
  </h1>
  <div *ngIf="isLogin">
    <button mat-button [matMenuTriggerFor]="userMenu">
      <i class="material-icons">account_box</i> {{user.username}}
    </button>
    <mat-menu #userMenu="matMenu">
      <button [routerLink]="['user', user.userId]" mat-menu-item>
        <i class="material-icons">settings</i> Setting
      </button>
      <button (click)="signOut()" mat-button color="white">
        <i class="material-icons">exit_to_app</i> Sign out
      </button>
    </mat-menu>
  </div>
</mat-toolbar>
<main class="container">
  <router-outlet (isAuth)="onAuth($event)"></router-outlet>
</main>
